# vim:ft=gitconfig:
[user]
	email = zeninglian@gmail.com
	name = Zenlian
[core]
	editor = nvim
	quotepath = false
[merge]
	tool = vimdiff
[color]
	ui = true
[push]
	default = current
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
; [url "https://hub.fastgit.xyz/"]
; 	insteadOf = https://github.com/
[protocol "https"]
	allow = always
