[submodule "nvim"]
	path = nvim/.config/nvim
	url = git@github.com:ZenLian/nvim.git
	branch = lua
	ignore = dirty
[submodule "zsh/.config/zsh/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh/.config/zsh/plugins/fzf-tab"]
	path = zsh/.config/zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh/.config/zsh/plugins/powerlevel10k"]
	path = zsh/.config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/zsh-completions"]
	path = zsh/.config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.config/zsh/plugins/zsh-vi-mode"]
	path = zsh/.config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "zsh/.config/zsh/plugins/zsh-defer"]
	path = zsh/.config/zsh/plugins/zsh-defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "awesome/.config/awesome/mods/mdi"]
	path = awesome/.config/awesome/mods/mdi
	url = https://github.com/Templarian/MaterialDesign-SVG.git
