[submodule "nvim"]
	path = nvim/.config/nvim
	url = git@gitee.com:ZenLian/nvim.git
	branch = master
[submodule "zinit"]
	path = zsh/.config/zsh/zinit/bin
	url = https://github.com/zdharma/zinit.git
	branch = master
