export LANG=zh_CN.UTF-8
export LANGUAGE=zh_CN:en_US
export TERM=alacritty
export TERMINAL="alacritty -e"

xset s on
xset s 300 # 5min before screen down
# keyboard auto-repeat
xset r rate 250 30

xrandr --output eDP-1 --dpi 192 --mode 2880x1800 --scale 0.9999x0.9999 --pos 0x1872 \
  --output DP-1 --mode 2560x1440 --scale 1.3x1.3 --pos 0x0 --primary
