{{- $osid := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $email := "zeninglian@gmail.com" -}}

[data]
osid = {{ $osid | quote }}
email = {{ $email | quote }}

[merge]
command = "nvim"
args = ["-d", '-c "wincmd l"', '-c "norm ]c"']

{{- if lookPath "delta" }}
[diff]
pager = "delta"
{{- end }}
{{/* vim:ft=toml: */}}
