{{- if eq .osid "linux-arch" -}}
{{- if not .headless -}}

{{ $packages := list
  "sddm"
  "awesome-git"
  "picom-jonaburg-git"
  "rofi"
  "upower"
  "brightnessctl"
  "alacritty"
  "fcitx5"
  "fcitx5-chinese-addons"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/usr/bin/env bash

{{ $sudo }}yay -Sy --noconfirm --needed {{ $packages | join " " }}

{{- end -}}
{{- end -}}
