{{- if eq .osid "linux-arch" -}}

{{ $packages := list
    "curl"
    "git"
    "zsh"
    "neovim"
    "fzf"
    "ripgrep"
    "fd"
    "lf"
    "bat"
    "git-delta"
-}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/usr/bin/env bash

{{ $sudo }}pacman -Sy --noconfirm --needed {{ $packages | join " " }}

{{- end -}}
